<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.contract.mapper.BusinessOpportunityMapper">
  <resultMap id="BaseResultMap" type="com.qf.contract.entity.BusinessOpportunity">
    <!--@mbg.generated-->
    <!--@Table t_business_opportunity00-->
    <id column="business_opportunity_id" jdbcType="INTEGER" property="businessOpportunityId" />
    <result column="business_opportunity_name" jdbcType="VARCHAR" property="businessOpportunityName" />
    <result column="business_opportunity_status" jdbcType="INTEGER" property="businessOpportunityStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
  </resultMap>
  <resultMap id="BaseResultMapVo" type="com.qf.contract.common.vo.BusinessOpportunityVo" extends="BaseResultMap">
    <association property="customerVo" resultMap="com.qf.contract.mapper.CustomerMapper.BaseResultMapVo"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    business_opportunity_id, business_opportunity_name, business_opportunity_status, 
    create_time, customer_id
  </sql>
</mapper>