<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.business.mapper.ConsumerMapper">
  <resultMap id="BaseResultMap" type="com.qf.business.entity.Consumer">
    <!--@mbg.generated-->
    <!--@Table t_consumer-->
    <id column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_status" jdbcType="INTEGER" property="customerStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    customer_id, customer_name, customer_status, create_time
  </sql>

  <resultMap id="BaseResultMapVo" type="com.qf.business.common.vo.ConsumerVo" extends="BaseResultMap" />
</mapper>