<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.business.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.qf.business.entity.Product">
    <!--@mbg.generated-->
    <!--@Table t_product-->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_skuId" jdbcType="BIGINT" property="productSkuid" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
    <result column="membership_price" jdbcType="DECIMAL" property="membershipPrice" />
    <result column="wholesale_price" jdbcType="DECIMAL" property="wholesalePrice" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="product_level" jdbcType="INTEGER" property="productLevel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="product_status" jdbcType="INTEGER" property="productStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    product_id, product_skuId, product_name, product_brand, membership_price, wholesale_price, 
    product_model, product_level, create_time, product_status
  </sql>
  <resultMap id="BaseResultMapVo" type="com.qf.business.common.vo.ProductVo" extends="BaseResultMap" />
</mapper>